@mixin mobile {
  @media screen and (max-width: 520px) {
    @content;
  }
}
.home {
  background-color: #3b3b3b;
  min-height: 100vh;
  text-align: center;
  padding-top: 2%;

  input {
    margin-bottom: 2%;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    position: relative;
    padding-left: 15px;
  }
}
